<div class="container well">
  <div class="row" ng-init="register = true">

    <div class="col-md-6 col-md-offset-3 text-center top-row-buffer">
      <img class="img-thumbnail" src="images/CookingAppLogo.jpg"></img>
    </div>

    <div class="col-md-6 col-md-offset-3" ng-show="!register">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <form class="form-horizontal">
            <legend>Login</legend>
            <div class="row form-group">
              <input type="email" class="form-control" placeholder="Email" ng-model="user.email"></input>
            </div>
            <div class="row form-group">
              <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
            </div>
            <div class="row text-center">
              <button class="btn btn-primary" ng-click="validate(user)">Log in</button>
            </div>
            <div class="row text-center top-row-buffer">
              <a href="" ng-click="register = true">Went wrong!?, <strong>back to register</strong> </a>
            </div>
          </form>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-3" ng-show="register">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
           <form class="form-horizontal">
            <legend>Register</legend>
            <div class="row form-group">
              <input type="email" class="form-control" placeholder="Email" ng-model="user.email"></input>
            </div>
            <div class="row form-group">
              <input type="text" class="form-control" placeholder="Name" ng-model="user.name"></input>
            </div>
            <div class="row form-group">
              <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
            </div>
            <div class="row form-group">
              <input type="password" class="form-control" placeholder="Repeat Password"></input>
            </div>
            <div class="row text-center">
              <button class="btn btn-primary" ng-click="save(user)">Register</button>
            </div>
            <div class="row text-center top-row-buffer">
              <a href="" ng-click="register = false">Already registered?, click to log in! :)</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-3 text-center top-row-buffer">
      <a href="" ng-click="legalInfo()">legal info</a>
    </div>

  </div>
</div>
