<div class="container">

    <div class="row top-row-buffer">
      <div class="col-md-3 top-separator">
        <img ng-src="{{ user.img }} " class="img-circle hand-cursor" ng-show="readOnly()" style="height: 200px; width:200px;"></img>
        <img ng-src="images/add.png" ng-click="addImg();" class="img-circle hand-cursor" ng-show="!readOnly()" style="height: 200px; width:200px;"></img>
      </div>

      <div class="col-md-8">
        <h2 ng-show="readOnly()">{{ user.name }}</h2>
        <h3 ng-show="readOnly()">{{ user.email }}</h3>
        <h3 ng-show="readOnly() && verificationLevel(user) == 'amateur'">
          <p>Amateur Chef</p>
        </h3>
        <h3 ng-show="readOnly() && verificationLevel(user) == 'professional'">
          <p>Professional Chef</p>
        </h3>
        <h3 ng-show="readOnly() && verificationLevel(user) == 'verified'">
          <p>Verified Professional Chef</p>
        </h3>
        <div class="from-group">
          <div class="form-horizontal" ng-show="!readOnly()">
            <label>Name: </label>
            <input class="form-control" placeholder="Name" ng-model="user.name"></input>
            <label>Email: </label>
            <input class="form-control" placeholder="Email" ng-model="user.email"></input>
            <label>Professional: </label>
            <div class="from-control btn-group" placeholder="Status" data-toggle="buttons">
              <button class="btn btn-primary btn-sm" ng-class="radioAmateur(user)" type="radio" ng-model="user.professional.professional" ng-value="false">No</button>
              <button class="btn btn-primary btn-sm" ng-class="radioProfessional(user)" type="radio" ng-model="user.professional.professional" ng-value="true">Yes</button>
              <button class="btn btn-danger btn-sm" ng-show="verificationLevel(user) == 'professional'" ng-model="user.professional.verified" ng-click="verifyAlert(user)">Verify!</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <button class="btn btn-primary pull-left" title="Edit" ng-show="allowEdit()" ng-click="edit=!edit"><span><i class="fa fa-lg fa-lock"></i></span></button>
      </div>

    </div>

    <div class="row">

      <div class="col-md-6 top-separator">
        <legend>Biography</legend>
        <div ng-show="readOnly()">
          <p>{{ user.biography }}</p>
        </div>
        <textarea rows="5" placeholder="Biography" class="col-md-12" ng-show="!readOnly()" ng-model="user.biography"></textarea>
      </div>

    </div>
</div>
