#Gitignore
#ant specific
**/dist/
**/build/

#netbeans specific
# Core? dafq fran?
**/core/
**/nbproject/
**/!nbproject/project.properties
**/!nbproject/project.xml

#java specific
**/*.class

#general swap/backup files
**/*.so
**.log
**/*.out
**/*~
**/*.sw[po]
**/*.DS_Store
**/*.lock
