# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
**/nbproject/
**/!nbproject/project.properties
**/!nbproject/project.xml
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/nbactions.xml
**/.nb-gradle/

### Java ###
*.class

# Package Files #
*.war
*.ear

#general swap/backup files
**/*.so
**.log
**/*.out
**/*~
**/*.sw[po]
**/*.DS_Store
**/*.lock
**/DuckBoard2/target/
/practica-2/DuckBoard/target/

### DBProporties ja que en Rafa es retarded ###
### Horas perdidas: 2h ###
practica-2/DuckBoard/src/main/java/db/chat/DBProperties.java
practica-2/DuckBoard/src/main/java/db/highcharts/DBProperties.java
practica-2/DuckBoard/src/main/java/db/www/DBProperties.java
