<div class="container-fluid">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <legend>Favourite Recipes</legend>
      <uib-carousel interval="-1" no-wrap="false">
        <uib-slide ng-repeat="recipe in fav_recipes" active="recipe.active">
          <img ng-src="{{recipe.img}}" class="hand-cursor" style="margin:auto;" ng-click="view(recipe)">
          <div class="carousel-caption">
            <h4>{{ recipe.title }}</h4>
            <p>{{recipe.description}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>

  <div class="row top-row-buffer">
    <div class="col-md-6 col-md-offset-2">
      <legend>News</legend>
      <div class="row" ng-repeat="recipe in recipes">
        <div class="wrapper">
          <div class="row">
            <div class="col-md-3">
              <img class="img-responsive img-circle" ng-src="{{recipe.img}}">
            </div>

            <div class="col-md-9">
              <div class="row">
                <div class="col-md-7">
                  <h3>{{recipe.title}} <small>{{recipe.author}}</small></h3>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <uib-rating ng-model="recipe.rating" readonly="true" on-hover="" on-leave="overStar = null"
                    aria-labelledby="default-rating" state-on="yellow">
                  </uib-rating>
                </div>
                <div class="col-md-6">
                  <ul class="list-inline social-icons icon-circle pull-right">
                    <li class="top-separator"> <a class="hand-cursor" title="share on facebook" ng-click="alertSocial('facebook')"><i class="fa fa-facebook"></i></a> </li>
                    <li class="top-separator"> <a class="hand-cursor" title="share on twitter" ng-click="alertSocial('twitter')"><i class="fa fa-twitter"></i></a> </li>
                    <li class="top-separator"> <a class="hand-cursor" title="share on instagram" ng-click="alertSocial('instagram')"><i class="fa fa-instagram"></i></a> </li>
                    <li class="top-separator"> <a class="hand-cursor" title="share on CookingApp" ng-click="alertSocial('CookingApp')"><i class="fa fa-share"></i></a> </li>
                    <li class="top-separator"> <a class="hand-cursor" title="add to favorites" ng-click="favorite(recipe)"><i class="fa fa-bookmark"></i></a> </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8">
                   <legend><small>Description</small></legend>
                  <p>{{recipe.description}}</p>
                </div>
              </div>

              <div class="row top-separator">
                <div class="col-md-11">
                  <div class="btn-group pull-right">
                    <button class="btn btn-success general-btn" ng-click="fork(recipe)">Borrow</button>
                    <button class="btn btn-primary general-btn" ng-click="view(recipe)">View</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- este spinner indica que el contenido se va recargando periodicamente -->
      <div class="row text-center" style="padding-bottom: 20px;">
        <div class="col-md-6 col-md-offset-3">
          <span><i class="fa fa-spinner fa-spin"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <legend>Followed users</legend>
      <div class="wrapper">
        <div class="row">
          <div class="col-md-12 text-center hand-cursor" ng-repeat="user in users" style="border-left: 0px; padding-left:1em;">
            <ul class="list-inline pull-left">
              <li>
                <img class="img-circle" ng-src="{{user.img}}" ng-click="viewUser(user.id)" style="width: 50px; height: 50px"></img>
              </li>
              <li>
                {{user.name}}
              </li>
            </ul>
          </div>
          <div class="text-center">
            <span class="hand-cursor" ng-click="alertShowNext('most rated users')"><i class="fa fa-chevron-down"></i></span>
          </div>
        </div>
      </div>
       <legend class="top-row-buffer">User news</legend>
    <div class="wrapper">
      <div class="row">
        <div class="col-md-12" ng-if="userNews" ng-repeat="userNew in userNews" style="border-left: 0px; padding-left:1em;">
          <p class="pull-left" style="border-top: 1px solid; border-bottom: 1px solid; border-color: #EFEFEF; padding-top: 8px; padding-top: 8px;">
            <img class="img-circle" ng-src="{{userNew.img}}" ng-click="viewUser(user.id)" style="width: 30px; height: 30px"></img>
            <strong>{{userNew.source}} </strong>{{userNew.action}}
          </p>
        </div>
        <div class="col-md-12" ng-if="!userNews" style="border-left: 0px; padding-left:1em;">
          <p class="pull-left" style="border-top: 1px solid; border-bottom: 1px solid; border-color: #EFEFEF; padding-top: 8px; padding-top: 8px;">
            <div class="row text-center" style="padding-bottom: 20px;">
              <div class="col-md-6 col-md-offset-3">
                <span><i class="fa fa-spinner fa-spin"></i></span>
              </div>
            </div>
          </p>
        </div>
        <div class="text-center">
          <span class="hand-cursor" ng-click="alertShowNext('user news')"><i class="fa fa-chevron-down"></i></span>
        </div>
      </div>
    </div>

  </div>
</div>
